[2014-12-02 14:30] kwylez opened #2 "JSON parsing shouldn't be on the main thread"
Parsing JSON respones can be expensive and shouldn't block the main thread.

[2015-01-06 14:46] #2 closed

[2015-04-09 22:46] tbogosia opened #3 "Transition To Swift 1.2 Errors"
While transitioning to Swift 1.2, I've found a number of syntactical errors and (after debugging these), general connection failures.

The syntactical errors appear to be mostly related to the inclusion of the "as!" syntax and instantiation of constants with "let".

Once these are resolved, I receive:

[code]
and

[code]

[2015-04-09 22:48] jeremykendall commented on #3
Thanks, @tbogosia.

@kwylez Let me know if you think there's something I should look at on the Graph Story infrastructure side. Nothing jumps out at me.

[2015-04-10 00:07] tbogosia commented on #3
Quick update:
printing the data returned is showing

  "message" : "You have to provide the 'query' parameter.",
  "exception" : "BadInputException",
  "fullname" : "org.neo4j.server.rest.repr.BadInputException",
  "stacktrace" : [ "org.neo4j.server.rest.web.CypherService.cypher(CypherService.java:81)", "java.lang.reflect.Method.invoke(Method.java:606)", "org.neo4j.server.rest.transactional.Transa

[2015-04-10 00:07] tbogosia commented on #3
Quick update:
printing the data returned is showing

"message" : "You have to provide the 'query' parameter.",
"exception" : "BadInputException",
"fullname" : "org.neo4j.server.rest.repr.BadInputException",
"stacktrace" : [ "org.neo4j.server.rest.web.CypherService.cypher(CypherService.java:81)", "java.lang.reflect.Method.invoke(Method.java:606)", "org.neo4j.server.rest.transactional.TransactionalR

[2015-04-10 00:46] kwylez commented on #3
The main issue that with the most recent version of Xcode swift has a ton of new updates and the framework hasn't been updated to reflect this. Updates are in progress.

Sent from my iPhone

[2015-04-10 00:48] tbogosia commented on #3
Ah, well that's just the worst. Thanks for looking into it!
Please let me know when updates are available if possible.

[2015-04-10 01:19] jeremykendall commented on #3
@kwylez :+1:

[2015-04-11 21:19] kwylez commented on #3
@tbogosia if you already have some fixes would you mind PR'ing them? In addition, what type of request are trying to make? If there a unit test for that type of request already in the project? If there is then I'll try and track down what is happening and if there isn't then we can add one.

[2015-04-11 23:42] tbogosia commented on #3
Absolutely. I'm not near a computer at the moment, but I'll get it done ASAP. The changes are pretty trivial, but it should give you a sense of where I am. In general I'm converting many of the "as" to "as!" and changing the dictionary for loops in each init into more direct instantiations of variables.

Also, I'm doing a cypher query post. I'm afraid the http body is taking an optional in a strin

[2015-04-12 01:54] tbogosia commented on #3
Hi again, this is embarrassing, but I haven't had a lot of experience with pull requests. I've tried forking and then creating a pull request for my changes but I'm getting some errors with authentication. Any advice? Sorry...

[2015-04-12 01:55] jeremykendall commented on #3
@tbogosia I've used the GitHub "How to Fork" documentation more times than I care to mention: https://help.github.com/articles/fork-a-repo/

[2015-04-12 17:08] tbogosia commented on #3
@jeremykendall I learn something every day!

[2015-04-12 17:42] jeremykendall commented on #3
:+1:

[2015-04-14 15:00] kwylez commented on #3
@tbogosia I've pulled your changes to my local repo and made some minor clean up, but more importantly ran the unit tests and everything **passed**

![screen shot 2015-04-14 at 10 54 45 am](https://cloud.githubusercontent.com/assets/233571/7139654/6355f174-e295-11e4-9d61-83fad268592f.png)

With that said can you provide some more information regarding the call you are making that is failing?

I'll

[2015-04-14 15:05] kwylez commented on #3
I'm going to close this issue. Go ahead and file another issue for the response error

[2015-04-14 15:05] #3 closed

[2015-04-14 17:41] tbogosia commented on #3
@kwylez uh oh. I'll follow up soon. But good to know that's fully resolved. Crosses one possibility off my list.

[2015-04-15 20:08] tbogosia opened #6 "Response Error on Some Calls"
I hadn't had any problems with Theo and connecting to my Neo4j database until I updated to Swift 1.2. Once I did, even after fixing the syntactical errors, I was unable to connect.

I generally receive 500 and 400 messages while running the app. Digging into the data returned, I've found that I sometimes receive an error:

}

I've tried all of the sample tests, and it seems like some of the readin

[2015-04-15 20:24] tbogosia commented on #6
Oh, also want to add (if it wasn't clear) I ran the unit tests in the included Theo XcodeWorkspace, not in my own project.

[2015-04-15 20:54] tbogosia commented on #6
I believe that crash was due to there being no data in my database before, the tests are now reaching test_004_successfullyAddNodeWithOutLabels before crashing. Which makes a lot more sense, since I had believed the GET requests were working and the POST were the problem.

[2015-04-18 15:32] tbogosia commented on #6
I've found the problem. The headers set by Theo were being changed somewhere before sending the request. I'm going to try to locate where that's happening, but the easy fix was making sure to send application/json header right before the request went out.

If I find that it's an error in the code I'll create a pull request, it may have just been a strange problem with my code.

[2015-04-18 15:32] #6 closed

[2015-04-18 15:36] kwylez commented on #6
that's very strange. I'll start looking there as well. This is just for your POSTS right?

Sent from my iPhone

[2015-04-18 15:40] kwylez commented on #6
Put a breakpoint or log the additional headers property in the request class

Sent from my iPhone

[2015-04-18 15:44] tbogosia commented on #6
Yeah, I added
[code]
in the postResource method of Request.swift, where the mutable request is made, and everything was fine afterward.

It was coming out as application/www-x-form-urlencoded when I checked my data packages going out before. Not sure where the change happened, because in the initial construction it was definitely using /json for the .httpRequest.

[2015-04-18 16:07] kwylez commented on #6
I'll create a new branch and if you can issue a PR for this change. It will be a few hours before I get home.

Sent from my iPhone

[2015-04-18 16:11] tbogosia commented on #6
No problem, will do.

[2015-04-19 16:04] kwylez commented on #6
I created a new branch for your to PR to issue/post-header

[2015-04-19 16:22] tbogosia commented on #6
Perfect, I'll PR soon

[2015-04-28 06:32] buidinhduong opened #7 "dyld: Library not loaded: @rpath/libswiftCore.dylib"
Dear Admin,
I have this issue when trying to run the project. It builds successfully but crash by this following:

==============================================================================
dyld: Library not loaded: @rpath/libswiftCore.dylib
  Referenced from: /Users/buiduong/Library/Developer/Xcode/DerivedData/TestNeo4j-aqdumgntiatrgsbkvvmgvcspnzie/Build/Products/Debug-iphonesimulator/Theo.fr

[2015-04-28 14:43] kwylez commented on #7
What version of Xcode are you using?

[2015-04-28 15:03] buidinhduong commented on #7
Hi,
I am using Xcode 6.3.1 !

[2015-04-28 15:05] buidinhduong commented on #7
I have tried this but it is still not working .

Runpath Search Paths is $(inherited) @executable_path/Frameworks
Embedded Content Contains Swift Code is 'Yes'

[2015-04-28 15:09] kwylez commented on #7
When was the last time you pulled from the repo? I'm using the same version of Xcode and was able to build the project and the unit tests without issue.

[2015-04-28 15:12] buidinhduong commented on #7
Just some hours ago , could you please give me a sample of yours which is a project that embed THEO Framework.

[2015-04-28 15:17] buidinhduong commented on #7
Here is my screen :
![screen shot 2015-04-28 at 10 17 10 pm](https://cloud.githubusercontent.com/assets/5101796/7373028/5b26d544-edf4-11e4-8516-c6dce2fd913e.png)

[2015-04-29 11:33] kwylez commented on #7
Did you link the framework in your app?
![screen shot 2015-04-29 at 7 32 54 am](https://cloud.githubusercontent.com/assets/233571/7390062/0d0c48fa-ee42-11e4-9a96-86ac1303b8a2.png)

[2015-04-29 13:18] kwylez opened #8 "The wrong content-type is being set for POST requests"
By default the type is `application/www-x-form-urlencoded ` and when sending a `POST` request the instance of Neo4j returns a server 500 as referenced by https://github.com/GraphStory/neo4j-ios/issues/6

[2015-04-29 13:19] #8 closed

[2015-05-22 02:40] sweatapp opened #9 "Create Relationship Bad Request"
I believe I am creating a relationship the correct way. Both nodes valid at the time and i am getting an error. Here is my function call and error, not sure what is going on with it.

//Create Workout Object in the Database given a WorkoutObject and relate it to it's owner
    func createWorkoutObjectInDB(workout: WorkoutObject,workoutOwner:UserObject)
    {
        //Set Required Variables

[2015-05-22 02:55] #9 closed

[2015-05-22 17:24] sweatapp opened #10 "Node ID"
I was told to ask this question here, so forgive me if this is not the place, but I need to know how to get the ID of a node i want so that i can use the Theo functions. How is this done? i can get the id by returning ID(x) but don't know how to use that with Theo.

[2015-05-22 19:21] kwylez commented on #10
I'm away from my computer right now but this afternoon I'll take a look and let you know

Sent from my iPhone

[2015-05-22 20:39] sweatapp commented on #10
Also I can create nodes, but they do not have a label. I used the following code. I looked in the source and it looks like that is changed, but the readme says to do it the way I am. Which way is best and how do i call it?

let node = Node()

        node.setProp("hashedID", propertyValue: user.userID as String)
        node.addLabel("USER")

        theo.createNode(node, completionBlock: {(node2,

[2015-05-22 22:21] kwylez commented on #10
@sweatapp re: the failed label creation can you open a separate issue for that? I want to make sure it is tracked properly. If you run the [unit test](https://github.com/GraphStory/neo4j-ios/blob/master/Source/Theo/TheoTests/Theo_000_RequestTests.swift#L372) for creating a node with a label what is the result?

re: your `ID(x)` issue can you give me a code example of how you are trying to request

[2015-05-22 22:30] sweatapp commented on #10
I will open a new issue for label creation.

As for finding the ID of the node what i need is to be able to execute a cypher to get the id of a node in the DB so that i can use the functions (i.e theo.fetchNode("I NEED TO GET THIS ID", completionBlock: {(node, error) in
    println("meta in success \(node!.meta) node \(node) error \(error)")
}))

right now i am using the query "MATCH (u {userID: "

[2015-05-22 22:55] sweatapp opened #11 "Node Label Not Getting Created"
When i use the function(as defined in the readme)

let node = Node()
let randomString: String = NSUUID.UUID().UUIDString

node.setProp("propertyKey_1", propertyValue: "propertyValue_1" + randomString)
node.setProp("propertyKey_2", propertyValue: "propertyValue_2" + randomString)
node.addLabel("customLabelForNode_" + randomString)

theo.createNode(node, completionBlock: {(node, error) in
    printl

[2015-05-22 23:21] kwylez commented on #10
OK. I think I know what your referring to. Right now you would have to execute the theo cypher query and in its collection block grab the dictionary key from the cypher meta  data that holds the ID and then call fetchNode...

What type method signature would make this easier for you.

Sent from my iPhone

[2015-05-22 23:22] kwylez commented on #11
I'll need to rerun my unit tests and see what is going on. You are making the right call. What version of Neo4j are you using?

Sent from my iPhone

[2015-05-22 23:34] sweatapp commented on #10
Are you talking about something like this? i have tried to get the value from this. Maybe i don't know how or what.

//Get Internal Node ID from userID
    func getInternalNodeID(userID:NSString, completion: (result: NSString) -> Void)
    {
        let cyperQuery: String = "MATCH (u {userID: \"sweatmobile\"}) return ID(u)"
        let cyperParams: Dictionary<String, AnyObject> = ["user" : "UserOb

[2015-05-22 23:39] sweatapp commented on #11
"node": "https://neo-553a923019293-364459c455.do-stories.graphstory.com:7473/db/data/node",
  "node_index": "https://neo-553a923019293-364459c455.do-stories.graphstory.com:7473/db/data/index/node",
  "relationship_index": "https://neo-553a923019293-364459c455.do-stories.graphstory.com:7473/db/data/index/relationship",
  "extensions_info": "https://neo-553a923019293-364459c455.do-stories.graphstory

[2015-05-22 23:50] kwylez commented on #11
Ok. I'll look at this as soon as I can.

Sent from my iPhone

[2015-05-22 23:51] kwylez commented on #10
What is the output from println(cypher....?

Sent from my iPhone

[2015-05-22 23:54] sweatapp commented on #10
response from cypher Optional(meta description Columns: [ID(u)], data [])

[2015-05-22 23:57] sweatapp commented on #11
I noticed in Cypher.swift there are two functions for creating a node, they are labled with and without label. The one without matches the parameters inputted above, but the function that says create with labels follows this header public func createNode(node: Node, labels: Array<String>, completionBlock: TheoNodeRequestCompletionBlock?) as opposed to public func createNode(node: Node, completionB

[2015-05-23 16:40] kwylez commented on #10
I'll see what I can throw together this week for a fix

[2015-05-23 18:23] sweatapp commented on #10
That would be great because at this point my development has essentially stopped. Even something as simple as a new method that gets an I'd based off of a property inputted. I really appreciate your help and your time making Theo.

[2015-05-24 23:34] sweatapp commented on #10
Not sure why, but i got back on today and it returned a value now so i can access it using cypher!.data[0].values.array[0]

Not sure why it works now, but I'm glad it is.

[2015-05-24 23:53] kwylez commented on #10
Are you using any NSURLCache?

I'm going to try and come up with a method like you suggested.

Sent from my iPhone

[2015-05-25 19:55] kwylez commented on #11
There shouldn't any reference for creating a node with or without a label in `Cypher.swift`. [This](https://github.com/GraphStory/neo4j-ios#create-a-node) is the example of creating a node with and without a label. I'm going to verify with the unit test (using Graph Story) that this functionality is still passing

[2015-05-25 20:14] kwylez commented on #11
I can confirm that the node is being created but the labels **are not**. I think I see what the problem is. Part of the problem is that the completionBlock will always return nil https://github.com/GraphStory/neo4j-ios/blob/master/Source/Theo/Theo/Client.swift#L332. I'm working on a hotfix for this

[2015-05-26 01:15] kwylez commented on #11
After reviewing the REST API docs, after successful creation of labels for a given node the [response is empty](http://neo4j.com/docs/stable/rest-api-node-labels.html). I'm almost finished with updating the method that creates a node with label(s) and will post a fix shortly

[2015-05-26 02:16] kwylez commented on #11
@sweatapp I've got this worked out and it is passing my unit tests
![screen shot 2015-05-25 at 10 14 17 pm](https://cloud.githubusercontent.com/assets/233571/7804082/9d9e6cce-032b-11e5-8240-4f2aa98afb79.png)

[2015-05-26 02:31] kwylez commented on #11
This has been fixed [https://github.com/GraphStory/neo4j-ios/releases/tag/2.0.1](https://github.com/GraphStory/neo4j-ios/releases/tag/2.0.1)

[2015-05-26 02:31] #11 closed

[2015-06-11 20:55] tbogosia commented on #6
Hi again Cory,

I'm having a little trouble. I think I executed a cypher query that was
long-running on my database by accident. Now I can't access the database at
all and all of my queries are timing out. I'm guessing that the database is
still attempting to run the other queries and can't respond to my requests.
Is there anything I can do?

Thanks,
Travis

On Sun, Apr 19, 2015 at 12:04 PM, Cory

[2015-06-11 21:05] jeremykendall commented on #6
Hey @tbogosia,

Looks like there was indeed an issue with your database. I've restarted the instance and you're back up and running again.

Whenever you think there might be an issue with your database, please shoot an email over to support@graphstory.com. We're more than happy to get that sorted out for you. Thanks!

[2015-06-11 21:07] tbogosia commented on #6
Wonderful, thanks Jeremy.
Is the issue something I can avoid in the future? Or just a fluke sort of
thing...

On Thu, Jun 11, 2015 at 5:05 PM, Jeremy Kendall <notifications@github.com>
wrote:

[2015-06-11 21:09] jeremykendall commented on #6
Careful query construction and correct indexes and constraints help avoid this situation. Send your query over to support@graphstory.com and we'll take a look at it for you, if you like.

[2015-06-11 21:10] tbogosia commented on #6
Alright, thanks Jeremy. It's a complex one that I've been thinking over for
a bit. I'll send it over now.

On Thu, Jun 11, 2015 at 5:09 PM, Jeremy Kendall <notifications@github.com>
wrote:

[2015-07-03 16:21] nskostas opened #12 "Error Domain=com.theo.network.error Code=-1011"
Hi, I'm new with neo4j and GraphStory, I'm going through the steps in the readme file, and I'm getting the following error.

[code]

In viewDidLoad() I execute the following code :
[code]

Any suggestions?

Xcode 6.4, iOS SDK 8.4, OSX 10.10.4

Thank you,
Kind regards,
Kostas.

[2015-07-08 15:19] funkatron commented on #12
I'm going to add the info from your support emails here, and try to get others to participate. I think we solved your 401 error, but we hit another roadblock.

--------------------

I think you were correct, but now I’m receiving a nil response from the following request:

[code]

The value of the request is:

[code]

Thank you very much for your time,
sorry for the trouble.

Very much appreciate

[2015-07-09 13:20] kwylez commented on #12
@funkatron is the above value for the request from the `metaDescription` request?

[2015-07-15 15:03] nskostas commented on #12
@kwylez yes, it's from ```metaDescription``` request, and then ```getResource```.

[2015-07-16 19:26] kwylez commented on #12
@nskostas I believe I know what is going on. For some reason the credential storage isn't being used by the session...thus, the **401**. I'm not sure when this was introduced. There are references to related issues with iOS 8. With that said the official Apple docs state that the session configuration can't be modified with a "live" session which would explain what is happening.

I'm looking into

[2015-07-16 20:16] kwylez commented on #12
@nskostas what version of neo4j is your instance running?

[2015-07-16 20:25] nskostas commented on #12
@kwylez  I don't know how to check the version in the Graphstory, but locally it was Neo4j CE 2.2.3 for sure.

[2015-07-16 20:47] jeremykendall commented on #12
@nskostas You're on Enterprise 2.2.3

/cc @kwylez

[2015-07-17 01:09] kwylez commented on #12
@nskostas After debugging this all afternoon it turns out that Neo4j 2.2.x is not properly handling the basic auth handshake thus the reason why you are getting that error. Instances running 2.1.x work great with Theo. I'm working on a fix for this and should have something ready to test by Monday.

[2015-07-20 19:22] kwylez commented on #12
@nskostas I've added in the fixes and they are in the `issue/12` branch. please use that branch to verify it is working for you. Once I hear back I'll be able to merge everything into `master`

[2015-07-21 10:56] nskostas commented on #12
@kwylez I've run the tests but it returns an ```Thread 1: EXC_BAD_INSTRUCTION```, in ```Line 152``` of the ```Request.swift```. This is the console output:
[code]

[2015-07-21 13:26] kwylez commented on #12
Can you go to your terminal and run `git branch`

[2015-07-21 13:35] nskostas commented on #12
[code]

[2015-07-21 15:51] kwylez commented on #12
Are you running just the first test or all of them and the first test is the only one that fails?

Just running the first test for me works just fine.

**Console output**

*neo4j_version: 2.2.3*
[code]

[2015-07-21 16:45] nskostas commented on #12
The first mistake that I had, was that I didn't include "http://" in the Host url.
Then, it works for my localhost neo4j instance, but not for the graphstory/neo4j for some reason.

[2015-07-21 16:53] jeremykendall commented on #12
@nskostas Make sure to double check your Graph Story Neo4j URL. The protocol should be `https://`.

[2015-07-21 19:23] nskostas commented on #12
@jeremykendall Yes, you're right. Sorry, my mistake.
Thank you! It works fine now!

[2015-07-21 19:38] jeremykendall commented on #12
@nskostas No worries. I've done that a lot myself :-)

So glad to hear it's working! Nice job, @kwylez! Thanks for your excellent help troubleshooting, @nskostas!

Can we close this one out now?

[2015-07-21 20:42] kwylez commented on #12
Ill merge this to master tonight.

Sent from my iPhone

[2015-07-22 01:30] #12 closed

[2015-12-01 22:06] jbrozena22 commented on #12
I'm getting this same issue when trying to access my test database on localhost.

    `var theo: Client = Client(baseURL: "http://localhost:7474/")
     theo.metaDescription({(meta, error) in
            print("meta in success \(meta) error \(error)")
     })`

RESULT:
`meta in success nil error Optional(Error Domain=com.theo.network.error Code=-1011 "(null)" UserInfo={TheoResponse=<NSHTTPURLRespo

[2015-12-01 22:20] jeremykendall commented on #12
@jbrozena22 Are you sure you're passing the correct username and password? Have you visited http://localhost:7474/browser/ in your web browser to see if you have to change your username and password?

I ask because I frequently forget to change the default username and password when I develop locally.

[2015-12-01 22:33] jbrozena22 commented on #12
@jeremykendall I should have mentioned that I had tried it both ways - with and without authentication both with the same result.

However I did discover the issue for anyone who runs into this same problem. The host URL needs to not end in a slash. So this worked:
`let theo: Client = Client(baseURL: "http://localhost:7474", user: "USERNAME", pass: "PASSWORD")`

But this didn't:
`let theo: Client

[2015-12-01 22:57] jeremykendall commented on #12
Awesome! Glad you got it figured out! Sounds like a blog post to me :smile:

[2016-02-29 01:49] DrD00der opened #13 "Cannot create node - returns nil"
I'm setting up Theo for the first time, and a relatively new progammer to both Swift and neo4j so I'm not sure if I'm missing something obvious or not.  I have neo4j server running on my local mac, and when I run my code I get a return of "new node nil" when trying to add a new node.  I have hit set up with a button to add the node (as you'll see below) but cannot get it to add actual data.

Any i

[2016-02-29 14:37] kwylez commented on #13
What version of Neo4j are you running? Can you print out the `error` variable in the closure?

[2016-02-29 15:37] DrD00der commented on #13
Running Neo4j Community Edition 2.3.2
XCode 7.2.1

here is the node, and error printouts:

new node nil
Optional(Error Domain=com.theo.network.error Code=-1011 "(null)" UserInfo={TheoResponse=<NSHTTPURLResponse: 0x7fe7e8c09730> { URL: http://localhost:7474//db/data/node } { status code: 404, headers {
    "Access-Control-Allow-Origin" = "*";
    "Content-Length" = 0;
    Date = "Mon, 29 Feb 2016 1

[2016-03-03 05:38] DrD00der commented on #13
Looks like I just needed to remove the slash at the end of the http://localhost:7474

Found a similar question in a prior issue here.  Thanks!

[2016-03-03 12:21] kwylez commented on #13
Glad you found it. Would it be helpful if the framework warned you of that "/"?

Sent from my iPhone

[2016-03-03 15:27] DrD00der commented on #13
Definitely would help.  I see I'm not the only one who ran into this problem so an error would be great.

Thanks!

[2016-03-04 01:20] kwylez commented on #13
Would it be more efficient to just included it in the README, throw an
exception or just handle it programmatically?

On Thu, Mar 3, 2016 at 10:27 AM, DrD00der <notifications@github.com> wrote:

--
Cory Wiles
kwylez@gmail.com
www.corywiles.com | www.twitter.com/kwylez

[2016-03-04 04:40] DrD00der commented on #13
The README definitely needs to be updated.  If it's in there, I think that is totally sufficient
1) It's still listing old syntax, such as println instead of print for Swift 2.  Also, to create a random string I had to change that line to: let randomString: String = NSUUID().UUIDString
2) I have another issue that I see was "closed" in a prior issue.  When I create a node, the label does not get c

[2016-03-05 17:02] hunterlins opened #14 "Problem recognising Client Class"
Hi

After following the steps outlined to add Theo into my Swift project it doesn't recognise the Client class. I've clear the project and still no luck. Can you help?

[2016-03-07 15:07] kwylez commented on #7
I'm closing this issue since I never heard back on my proposed solution.

[2016-03-07 15:07] #7 closed

[2016-03-07 21:12] kwylez commented on #14
Can you send me a screenshot of your project setup?

[2016-03-07 21:26] kwylez commented on #13
You can create a node with labels using the following unit test example: https://github.com/GraphStory/neo4j-ios/blob/master/Source/Theo/TheoTests/Theo_000_RequestTests.swift#L382

[2016-03-07 21:56] kwylez commented on #13
I updated the **README** with your suggestions. Let me know if there is anything else or submitted a PR.

[2016-03-07 21:56] kwylez commented on #13
I'm going to close this issue, but if you are still having your cypher query issue then please open a new issue and we'll debug there.

[2016-03-07 21:56] #13 closed

[2016-03-07 23:55] DrD00der commented on #13
Thanks

I'm still having problems with node label creation - I'll start a new issue for this.

[2016-03-08 00:02] DrD00der opened #15 "Cannot create node with label"
In the current readme example, you create a node with label with:

    `node.addLabel("customLabelForNode_" + randomString)

    theo.createNode(node, completionBlock: {(node, error) in
        print("new node \(node)")
    });
`

In the TheoTest example however, it calls a different version of createNode():

            theo.createNode(node, labels: node.labels, completionBlock: {(_, error) in

[2016-03-08 00:24] DrD00der commented on #15
On further eval, I do see the labels in the Node class:
public class Node {

    // MARK: Private Setters and Public Getters

    private (set) var nodeData: [String:AnyObject] = [String:AnyObject]()
    private (set) var labels: [String] = [String]()

Why isn't it recognizing that and adding it when the node is created?

[2016-03-08 00:31] kwylez commented on #15
I'll dig into this in the morning.

Sent from my iPhone

[2016-03-08 00:32] DrD00der commented on #15
Awesome thanks!

[2016-03-08 01:21] kwylez commented on #15
@DrD00der my test instance (running 2.2.3) the unit test passes. I'm having my instance upgraded to 2.3.2 as we speak.

[2016-03-09 01:39] kwylez commented on #15
I did find a *potential* bug, but need to add in some more logic and create a new branch for testing. I should have this done by the morning. The framework technically hasn't been tested with CE. Can you setup an instance on graphstory.com and run the unit tests against that as well?

[2016-03-10 05:20] DrD00der commented on #15
I guess I can?  I don't have an account there so I'll have to sign up.  It's a free trial right?

I can try it on my locally hosted server first and if that works well, can set up a trial to test it there too.

[2016-03-10 14:36] kwylez commented on #15
@DrD00der I published the debug branch https://github.com/GraphStory/neo4j-ios/tree/issue/15. Please take a look at the changes. My unit test is passing and labels are being added to the label.

GraphStory does have a free account. Let me know if you need any help with that.

[2016-03-11 03:23] DrD00der commented on #15
Still having the same issue, but I found a work around.  The problem is that xcode thinks that node does not have a member named labels.  Is that because it's a private setter?

        public class Node {
        // MARK: Private Setters and Public Getters

    private (set) var nodeData: [String:AnyObject] = [String:AnyObject]()
    private (set) var labels: [String] = [String]()

Instead of usi

[2016-03-11 12:54] hunterlins commented on #14
Hi Cory,

I've tried Theo again and got it working however keep getting a nil from
trying this query
<https://github.com/GraphStory/neo4j-ios#execute-a-cypher-query>
My query which I have reworked is inside the cypherQuery func in
ViewController.swift. I've included a screenshot for the database browser.

For our team project I am not the back end dev, so I'm just looking to
find out how to make s

[2016-03-11 15:23] kwylez commented on #15
@DrD00der I think I know where the disconnect is. The methods and properties are working as they should, but how Neo4j deals with nodes and labels is what is causing issues. I'll type up the summary and update the ticket today.

The good thing is that your "workaround" really isn't a workaround, but **one** of the correct ways to use the `createNode(node:labels:completionBlock)` method.

[2016-03-11 18:09] kwylez commented on #15
@DrD00der I should have caught this earlier so I apologize.

You were performing the following request expecting labels to be associated:

[code]
The labels **are** being added to the `Node` instance, but aren't saved on the object because Neo4j requires an API call to set those labels and `createNode` doesn't do that.

In the unit test I'm creating a local instance of a node, adding the labels an

[2016-03-12 23:38] DrD00der commented on #15
Gotcha.  Yeah I think updating the README is sufficient so people know how to add the labels.  If you want to change the createNode method you can do that, but updating the readme is a lot quicker and gets the job done!

Thanks!

[2016-03-15 12:26] kwylez commented on #14
It might be `let cyperQuery: String = "PROFILE MATCH (a {firstname: \(nameToMatch)}) return a;"`

I don't think you need to escape `nameToMatch` and your params `["user" : "Thomas"]` do not match variables in your query. Maybe try `let cyperQuery: String = "PROFILE MATCH (a {firstname: {user}}) return a;"`

[2016-03-15 12:27] kwylez commented on #15
@DrD00der thanks for the feedback and filing this. I'll merge this into master later today.

[2016-03-16 05:13] DrD00der commented on #15
No, thank you for working on this!

One last question - how do I pull data into an array format from a cypher query?  It appears to return JSON but it's in the form of the Cypher class.  If it were a string, I could parse the JSON into a swift array.  Is there a way to do that easily with the code?  Or is there a way to convert the cypher returned data into a string or NSData?

[2016-03-17 15:02] hunterlins commented on #14
Dear Cory,

I've got it now- thanks for your help. Problem was the Cypher.

Kind regards,
Lindsey

<https://itunes.apple.com/us/app/william-hunter-coach-hire/id1080372146?ls=1&mt=8>

On 15/03/2016 12:26, Cory D. Wiles wrote:

[2016-03-22 00:48] #14 closed

[2016-03-22 00:49] kwylez commented on #10
Closing due to non response

[2016-03-22 00:49] #10 closed

[2016-03-22 00:58] #15 closed

[2016-08-02 07:37] niklassaers opened #16 "Unit test 001 failing"
Hi,

I'm new to your project, and configured the TheConfig.json to be

{
"username" : "neo4j",
"password" : "thepassword",
"host" : "http://localhost:7474"
}

and ran the unit tests. test_000_successfullyFetchDBMeta succeeds, but then test_001_successfullyFetchNode fails: node is nil and the error says that http://localhost:7474/db/data/node/100 returned 404. I have to agree with it, I cannot find

[2016-10-16 12:15] lussierm opened #17 "Swift 3 exc_bad_instruction - force unwrap of nil?"
Hello - newbie so apologies in advance for breaking any norms.

I have added the Theo neo4j-ios module to an Xcode 8 project (Theo only, to test it out).  Used Edit>Convert>To Current Swift Syntax to clean up compiler errors.  Created a simple view controller with button to run the sample 'fetch meta for a graph' code.  Upon compiling I get an "EXC_BAD-INSTRUCTION (code=EXC_I386_INVOP, subcode=0x0

[2016-10-24 13:42] kwylez commented on #17
@lussierm sorry for the late reply. I honestly haven't had much time to look at the bug, but should this week. The code hasn't been converted to Swift 3 (which is on my short list of to-do's) so there is strong possibility that one of the language changes has is the culprit. If you can bear with me for a few more days I'll have a better answer.

[2016-10-24 15:48] buidinhduong commented on #17
please convert to swift 3

[2016-10-25 18:20] lussierm commented on #17
No worries – thanks for the note.  No rush on my part. 

From: "Cory D. Wiles" <notifications@github.com>
Reply-To: GraphStory/neo4j-ios <reply@reply.github.com>
Date: Monday, 24 October 2016 at 8:42 PM
To: GraphStory/neo4j-ios <neo4j-ios@noreply.github.com>
Cc: "Mike Lussier (lussierm@telusplanet.net)" <lussierm@telusplanet.net>, Mention <mention@noreply.github.com>
Subject: Re: [GraphStory/neo4j

[2016-11-14 08:12] lussierm commented on #17
Hello kwylez - how are things coming along?
Thanks...

[2016-11-14 17:04] kwylez commented on #17
@lussierm It is coming along well. There is one more issue with the unit tests that I need to fix and then it will be ready to test. I'm hoping to have that done by wednesday.

[2016-11-14 17:04] kwylez commented on #17
@lussierm if you want to take a look at it I'm happy to push my branch up

[2016-11-15 06:54] lussierm commented on #17
Thanks for the update.  No worries I can wait.

[2016-12-12 03:37] lussierm commented on #17
Hello kwylez.  Maybe if you could push up what you have I could have a look over the holidays.  Thanks.

[2016-12-20 05:44] lussierm commented on #17
@kwylez Thanks.  Best of the holidays to you!

[2016-12-28 15:40] MasterSwift opened #18 "SPM Support"
Wondering you have plans to make this available for Swift Package Manager.

[2016-12-28 17:02] funkatron commented on #18
I'll let @kwylez comment beyond this, but Swift 3 work is in https://github.com/GraphStory/neo4j-ios/tree/develop/swift-3

[2016-12-28 20:57] kwylez commented on #18
@MasterSwift I do have plans to make this available through SPM. I don't have a time table set, but I'm hopeful to have it by first of February of 2017

[2017-01-01 12:57] niklassaers opened #19 "Tests don't compile on develop/swift-3"
Compiling tests on Xcode 8.1 (8B62) gives 9 compile errors. Is this something you have done but just not committed? If not, I'll take a stab at them.

[2017-01-01 20:29] niklassaers commented on #16
Yes, there seems to be some sample data needed. There is a "test #12" for instance that has this Cypher query:

MATCH (u:User {username: {user} }) WITH u MATCH (u)-[:FOLLOWS*0..1]->f WITH DISTINCT f,u MATCH f-[:LASTPOST]-lp-[:NEXTPOST*0..3]-p RETURN p.contentId as contentId, p.title as title, p.tagstr as tagstr, p.timestamp as timestamp, p.url as url, f.username as username, f=u as owner

And the

[2017-01-01 20:32] niklassaers commented on #19
Sent pull request #20

[2017-01-01 20:32] #19 closed

[2017-01-01 20:36] niklassaers commented on #17
Hey, the error is that the code forces a cast of Error to NSError (or was it the other way around?) and that will always fail. So I've sent a pull request #20 that should fix the error you are seeing (on the develop/swift-3 branch). (you're welcome to check out the fork I made for the pull req at https://github.com/niklassaers/neo4j-ios/tree/develop/swift-3 while @kwylez has a chance to review the

[2017-01-01 20:37] niklassaers commented on #18
@kwylez If you haven't started yet, I'll volunteer. I need it together with Vapor so am planning to do the work this week

[2017-01-01 21:25] niklassaers commented on #18
Hehe, this week became right now. ;-) Thanks for having no dependencies! :-) That made it super-easy to get the Swift Package Manager integrated. Sent pull request #22

[2017-01-02 14:05] niklassaers commented on #16
It looks like this data is part of a sample database used with the book "Practical Neo4j". I didn't find where to get it, though, so I created a test that creates them. Now all tests pass. See pull request #23

[2017-01-02 14:12] kwylez commented on #18
@niklassaers this work looks awesome....in addition to your additional comments and code. I'm out of town right now but I'll be in front of my machine this afternoon and merge all of this in

[2017-01-02 14:15] niklassaers commented on #18
Awesome, thanks. :-)

[2017-01-02 14:21] niklassaers opened #24 "Theo 3.0.0"
Hey @kwylez, I'm hacking mostly on my own initiative on Theo, but I was wondering what from the backlog should be done for Theo to reach 3.0.0? Anything you need a hand with?

[2017-01-02 14:43] niklassaers commented on #16
If I add the assert
`XCTAssertTrue((cypher?.data.count ?? 0) > 0, "Expected at least one result")`
before
`exp.fulfill()`
in test_012_successfullyExecuteCyperRequest, I have a failing test again. I probably misunderstood something of the expected graph structure in test_000_createTestData. Do you have a suggestion, @kwylez ?

[2017-01-02 15:19] niklassaers commented on #16
I began cleanup work, and it seems to have been automatically added to the pull request #23. It has a little problem, though, which is that the delete requests get an error back, 409 - Conflict. Haven't quite figured out why I get that, would love input.

[2017-01-02 19:23] kwylez commented on #16
@niklassaers I'm going to go ahead and merge the PR's in and then I'll take a look at the other issues you referenced. Once again thanks for all the effort.

[2017-01-02 19:26] kwylez commented on #24
I think what you submitted gets the library is a _great_ position to cut a 3.0 release. I'll look at the other two issues you asked about and see if I can get those knocked out and then tag and push the new release to `master`

[2017-01-02 22:31] niklassaers commented on #24
Cool. I've identified a problem when running server side where the server will "hog" the main thread. The code directly uses main thread many places for callbacks - though not all, I haven't really understood which is when. But this in effect stops the callbacks server side. For now I've put it on a concurrent queue, but I should probably write a little bit to make it easy for the developer to cho

[2017-01-03 13:15] niklassaers commented on #24
I'm a bit uncertain, for instance in Client's metaDescription, the "happy path" leads to completionBlock being run on the main thread, whereas errors, exceptions and "no data" have completionBlock running on the concurrent thread. Is this intentional? (because if it is, I'm probably about to break this having them all run on the concurrent queue)

[2017-01-03 13:43] kwylez commented on #24
@niklassaers that is a bug. _Ideally_ there should be a property on the `Client` class that will default to the main thread by default, but allow the user to specify which thread they want callbacks to come back to.

[2017-01-03 13:44] kwylez commented on #24
@niklassaers I'll add that in now and push it up

[2017-01-03 13:51] niklassaers commented on #24
@kwylez Sorry for the confusion introduced, but I just submitted pull request #25 which has it compile on Linux, and takes out all the calls to the main thread. In doing that, I figured the user can, in the completion block, decide if it needs to be moved to another thread or not. While not as convenient, it saved going back and forth between threads if not necessary. You can decide what you prefe

[2017-01-03 14:08] niklassaers commented on #24
Cool, I'm happy we reached the same conclusion. :-)

[2017-01-03 14:08] niklassaers commented on #24
I'm in the process of adding a bit more test support so that the tests will also run under Linux, btw

[2017-01-03 14:09] kwylez commented on #24
Wow! That's a pretty big enhancement

[2017-01-03 14:29] niklassaers commented on #24
It does make some changes. To be able to do "swift test" I've had to move the Source/Theo/TheoTests to Tests/TheoTests. I've updated the xcodeproj accordingly so it runs nicely there. Hope you don't mind. I was hoping I could define it in Package.swift, but if I understood correctly that's a feature waiting to be implemented. With what's available in https://github.com/niklassaers/neo4j-ios/tree/f

[2017-01-03 20:38] niklassaers commented on #24
Sent as pull request #27 with additional comments - would love some input. :-)

[2017-01-06 17:57] kwylez commented on #24
@niklassaers I'll look at this this weekend. I'm planning on releasing 3.0 early next week

[2017-01-18 09:24] niklassaers commented on #16
The 409s were due to the relationships not being removed before the nodes were. :-)

[2017-01-18 09:24] #16 closed

[2017-01-18 14:06] #17 closed

[2017-01-18 14:06] #18 closed

[2017-01-18 22:12] #24 closed

[2017-04-18 00:50] pkasson opened #36 "Pod install - can't find Theo"
Here is my pod file ... no joy:

source 'https://github.com/CocoaPods/Specs.git'

platform :osx, '10.11'
use_frameworks!

target 'Test' do

  pod 'SwiftyJSON'
  pod 'ObjectMapper'

  pod 'Theo'         # Neo4j

end

[2017-04-18 11:24] pkasson opened #37 "Error running examples"
Theo would not install via pod file, so just added to the project.  Everything builds fine, but when running the simple create, I get:

Error Domain=NSCocoaErrorDomain Code=3840 "Invalid value around character 0." UserInfo={NSDebugDescription=Invalid value around character 0.}

[2017-09-19 13:57] spencerkohan opened #42 "Any plan for Swift 4 support?"
I'd love to use this but it's soon to be outdated.

[2017-09-19 15:55] niklassaers commented on #42
Yes, Swift 4 support is in the works, both for Theo and its dependencies

[2017-10-15 19:48] niklassaers commented on #42
As a few days ago, the 3.x branch supports both 3.x and 4.x. :-)

The upcoming 4.x branch will be Bolt only, btw, so I very much recommend not using the HTTP client for new projects. For legacy projects, we'll do our best to maintain 3.x independent of 4.x

[2017-10-15 19:48] #42 closed

[2017-10-15 19:53] niklassaers commented on #36
Hi, sorry for the late reply. Try do "pod repo update" before "pod install", when I install your podfile it installs just fine

[2017-10-15 19:53] #36 closed

[2017-10-15 19:54] niklassaers commented on #37
Again, sorry for the late reply. Are you still getting this? If so, can you point me to what function or line is generating this error?

[2017-11-06 17:27] daher-alfawares opened #44 "Carthage and macOS"
[code]

[2017-11-07 15:37] niklassaers commented on #44
Hi Daher, thanks for letting us know. I'll investigate why BlueSSLService isn't building.

[2018-01-01 16:10] jewilhel opened #45 "Problem Installing in iOS Swift 4.0 project"
Followed these instructions carefully:

**git submodule**

Add it as a submodule to your existing project. git submodule add git@github.com:GraphStory/neo4j-ios.git
Open the Theo folder, and drag Theo.xcodeproj into the file navigator of your Xcode project.
In Xcode, navigate to the target configuration window by clicking on the blue project icon, and selecting the application target under the "Ta

[2018-01-03 17:14] kwylez commented on #45
@jewilhel I'll take a look at this today

[2018-01-04 01:12] jewilhel commented on #45
Thank you!
Looks like only a MacOS framework is available and the IOS version is missing.

[2018-01-04 02:14] kwylez commented on #45
@jewilhel A few things.

1. Through Terminal, navigate to the submodule directory and run `swift package fetch`. Theo has other dependencies and they need to be fetched.
2. You have to add Theo _and_ the dependencies to the link phase and copy phase (see attachment).

I'll update the documentation. Thank you for pointing it out.

<img width="1213" alt="screen shot 2018-01-03 at 9 12 24 pm" src="ht

[2018-01-04 08:20] jewilhel commented on #45
Thanks! Got it installed now!
Yeah, I think a little clarity in the docs would help others.

[2018-01-04 11:20] jewilhel commented on #45
Ran into another issue:

After typing `import Theo`
I add `let theo: Client = Client(baseURL: "hostname.com")` (with my server name)
but it gives me the folioing error:
`Use of undeclared type Client`
something still seems wrong with the installation.

[2018-01-05 07:41] niklassaers commented on #45
Hi, sorry about the doc not being updated since 3.0. In 3.1 Client was renamed RestClient while BoltClient was introduced as the new shiny. We're just about to release 4.0, and the doc has been updated there, do check it out: https://github.com/Neo4j-Swift/Neo4j-Swift/tree/4.0

(also, the repo will be moving over there)

[2018-01-05 09:25] jewilhel commented on #45
Hi thanks, for the help earlier. I used the RestClient as you suggested. Can this work with the community version of Neo4j running on my laptop? I tried the following and got domain errors:

[code]

I followed the link you provided to branch 4.0, but didn't see any updated information there. Perhaps I'm looking in the wrong place for the docs. Sorry for all the newbie questions.

[2018-01-06 13:14] niklassaers commented on #45
Hi, RestClient was deprecated in 3.2 and is removed in 4.0 (it is deprecated in the current Neo4j version), so I would strongly encourage you to use BoltClient, and at this point I'd encourage you to use 4.0 already. Having said that, we'll do our best to support 3.2 for a while after the 4.0 release, acknowledging that there are many projects built upon RestClient.

You can use either client to c

[2018-01-13 14:26] jewilhel commented on #45
Thanks for your helpful advice... I was wondering if your instructions above also apply to running an iOS app running in the simulator on the laptop that's serving the Neo4j database, or does the app need to be running on an external iPhone?

[2018-04-19 08:47] pkasson commented on #37
Hey, for some reason I was not getting updates and have not spent time with Neo clearly in a while, i will revisit and let you know !